<section id="nav">
    <section class="sec-foto">
        <div class="div-foto">
            <img src="../../../assets/img/img.png" alt="">
        </div>
        <div>
            <h3>Gabriel Hernandes <br> Schincariol</h3>
        </div>
        <div>
            <h5>FullStack Developer</h5>
        </div>
    </section>

    <section class="sec-dados">
        <div class="blocos">
            <div class="linha">
                <p class="titulo">País:</p>
                <p>Brasil</p>
            </div>
            <div class="linha">
                <p class="titulo">Estado:</p>
                <p>São Paulo</p>
            </div>
            <div class="linha">
                <p class="titulo">Idade:</p>
                <p>18</p>
            </div>
            <div class="linha">
                <p class="titulo">Formação:</p>
                <p>Sistemas de Informação (FIAP - 2022/2025)</p>
            </div>
        </div>
        <div class="divisao"></div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">HTML:</label>
                <progress max="100" value="90" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">CSS:</label>
                <progress max="100" value="80" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Javascript:</label>
                <progress max="100" value="80" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Angular JS:</label>
                <progress max="100" value="80" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Angular 8.0+:</label>
                <progress max="100" value="80" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Typescript:</label>
                <progress max="100" value="70" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">.NET/C#:</label>
                <progress max="100" value="80" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">xUnit:</label>
                <progress max="100" value="70" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">SQL Server</label>
                <progress max="100" value="70" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Firebase:</label>
                <progress max="100" value="60" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">MongoDB:</label>
                <progress max="100" value="50" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Bootstrap:</label>
                <progress max="100" value="90" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">Materialize:</label>
                <progress max="100" value="90" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">GIT:</label>
                <progress max="100" value="90" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="blocos">
            <div class="progresso-linha">
                <label class="titulo">SCRUM:</label>
                <progress max="100" value="90" class="progresso-valor" style="width: 100%;">
                    <div class="progresso"></div>
                </progress>
            </div>
        </div>
        <div class="divisao"></div>
    </section>

    <section class="redes-sociais">
        <div>
        </div>
    </section>
</section>